In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\ARYAN SHARMA\Desktop\covid_toy.csv")

In [4]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [23]:
df['fever'].fillna(df['fever'].mean(),inplace=True)

C:\Users\ARYAN SHARMA\AppData\Local\Temp\ipykernel_27340\358162493.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fever'].fillna(df['fever'].mean(),inplace=True)

In [24]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
NaN          0
dtype: int64

In [67]:

!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\aryan sharma\appdata\local\programs\python\python313\lib\site-packages (1.7.1)
Collecting scikit-learn
  Using cached scikit_learn-1.7.2-cp313-cp313-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\aryan sharma\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.6)
Requirement already satisfied: scipy>=1.8.0 in c:\users\aryan sharma\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\aryan sharma\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\aryan sharma\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.6.0)
Using cached scikit_learn-1.7.2-cp313-cp313-win_amd64.whl (8.7 MB)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.7.1
    Uninstalling scikit-learn-1.7.1:
      Successfully uninstalled scikit-learn-1.7.1
Successfully installed scikit-learn-1.7.2

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\ARYAN SHARMA\AppData\Local\Programs\Python\Python313\Lib\site-packages\~klearn'.
  You can safely remove it manually.

In [68]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [69]:
X_train,X_test,y_train,y_test = train_test_split(
    df.drop(columns=['has_covid']),
    df['has_covid'],
    test_size = 0.2,
     
)

In [71]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(),['gender','city'])
],remainder='passthrough')

In [72]:
from sklearn.model_selection import train_test_split

In [73]:
X_train_transform = transformer.fit_transform(X_train)

In [74]:
X_train_transform.shape

(80, 9)

In [75]:
X_test_transform = transformer.fit_transform(X_test)

In [76]:
X_test_transform.shape

(20, 9)

In [77]:
X_test_transform

array([[101.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   1.        ,   0.        ,
         90.76      ],
       [ 99.        ,   0.        ,   0.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ,
         90.76      ],
       [104.        ,   1.        ,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ,
         90.76      ],
       [104.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ,
         90.76      ],
       [100.        ,   0.        ,   0.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ,
         90.76      ],
       [100.84444444,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
         90.76      ],
       [101.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
         90.76      ],
       [ 99.        ,   1.        ,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ,
         90.76      ],
       [101.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
         90.76      ],
       [104.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
         90.76      ],
       [104.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
         90.76      ],
       [102.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   1.        ,   0.        ,
         90.76      ],
       [ 99.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
         90.76      ],
       [104.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ,
         90.76      ],
       [102.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ,
         90.76      ],
       [ 99.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
         90.76      ],
       [101.        ,   1.        ,   0.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ,
         90.76      ],
       [103.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ,
         90.76      ],
       [ 98.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ,
         90.76      ],
       [100.84444444,   0.        ,   0.        ,   1.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
         90.76      ]])